@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Outfit:wght@100..900&family=Urbanist:wght@100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  .heading1 {
    @apply text-[74px] leading-[84px];
  }
  .heading2 {
    @apply text-[64px] leading-[74px];
  }
  .heading3 {
    @apply text-[48px] leading-[58px];
  }
  .heading4 {
    @apply text-[36px] leading-[46px];
  }
  .heading5 {
    @apply text-[30px] leading-[40px];
  }
  .heading6 {
    @apply text-[24px] leading-[34px];
  }
  .subtitle1 {
    @apply text-[20px] leading-[30px];
  }
  .subtitle2 {
    @apply text-[18px] leading-[28px];
  }
  .subtitle3 {
    @apply text-[16px] leading-[26px];
  }
  .subtitle4 {
    @apply text-[14px] leading-[24px];
  }
  .flex__center {
    @apply flex justify-center items-center;
  }
  .innerContainer {
    @apply w-full max-w-[1224px] mx-auto;
  }
  .outerContainer {
    @apply w-full max-w-[1920px] px-6 lg:px-[50px] mx-auto;
  }
  .smooth__hidden {
    @apply absolute top-0 left-0 pointer-events-none opacity-0;
  }
  .smooth__show {
    @apply relative top-0 left-0 pointer-events-auto opacity-100;
  }

  .urbanist {
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
  }
  .dmSans {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
  }
  .outfit {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
  }

  .font_14_400 {
    font-size: 14px;
    font-weight: 400;
  }
  .font_16_400 {
    font-size: 16px;
    font-weight: 400;
  }
  .font_16_700 {
    font-size: 16px;
    font-weight: 700;
  }
  .font_18_500 {
    font-size: 18px;
    font-weight: 500;
  }
  .font_18_600 {
    font-size: 18px;
    font-weight: 600;
  }
  .font_24_700 {
    font-size: 24px;
    font-weight: 700;
  }
  .font_36_700 {
    font-size: 36px;
    font-weight: 700;
  }
  .font_48_700 {
    font-size: 48px;
    font-weight: 700;
  }
  .font_64_700 {
    font-size: 64px;
    font-weight: 700;
  }
}
